a{
    background-color: rgba(126, 10, 161, 0.568);
    border-radius: 13px;
    text-decoration: none    ;
    color: rgb(37, 0, 71);
}
body{
    background-color: rgb(73, 73, 73);
    text-align: center;
    background-image: -moz-element(ima);
}